h1{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

h2{
font-size: 15px;
float: inline-end;

}

#cont1{
    
    background-color:  hsl(0, 0%, 8%);
    background-size: cover;
    width: 1400px;
    height: 680px;
    border: 1% solid hsl(0, 0%, 8%);
    margin: 50px auto;
    padding-top: 120px;
    justify-content: center;

}
#box1{
    background-color:  hsl(0, 0%, 12%);
    height: 550px;
    width: 350px;
    margin-left: 530px;
    justify-content: center;
    text-align: center;
    margin-top: 0px auto;
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: 15px;
    padding-top: 20px;
}

img{
    border:colorless;
    border-radius: 700px;
    height: 100px;
}

h3{
    color:hsl(0, 0%, 100%) ;
    
}

h4{
    color: hsl(75, 94%, 57%);
}

h5{
    color:hsl(0, 0%, 100%) ;
    font-weight: 450;
}

button{
    height: 42px;
    width: 300px;
    background-color: hsl(0, 0%, 20%);
    font-weight: bold;
    font-size: medium;
    color: hsl(0, 0%, 100%) ;
    border: 1px solid  hsl(0, 0%, 20%);
    border-radius: 10px;
    a{
        color: hsl(0, 0%, 100%) ;
        text-decoration: none;
    }

}

